body {
    text-align: center;
    background-color: #000000;
      }

button,a{
    float:left;
    background-color:#000099;
    color:white;
    display:block;
    padding:2vh 5vw;
    border:none;
    text-decoration:none;
    font-size:2vh;
    }
input{
    background-color:#33343B;
    border-radius:5px;
    padding:5px;
    font-size:7vw;
    border:none;
    width:80vw;

    }
h1{
    float:center;
    font-size:3vh;
    color:white;
    text-align:center;
    }
div.form{
    width:80vw;
    padding:20vh 8vw;
    }
#content{

    }
#taskbar{
     background-color: #191970;
     border:none;
     height:7vh;
     position:relative;
     text-align:center;
     }
#go{
    margin-left:auto;
    text-align:center;
    }